<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Courses</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>


  <table  border="1">
    <thead>
      <tr>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>PNC</th>
        <th>ICN</th>
         <th>GROUP</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="student : ${ students }">
				<td th:text="${ student.user.name }">name</td>
				<td th:text="${ student.user.address }">name</td>
				<td th:text="${ student.user.pNC }">name</td>
				<td th:text="${ student.user.iCN}">name</td>
				<td th:text="${ student.group}">name</td>
 				<td>
					<a class="btn btn-warning btn-xs" href="admin/movieEdit.html" th1:href="@{/admin/movieEdit(id=${movie.id})}">Edit</a>
					<a class="btn btn-danger btn-xs" href="admin/movieDelete.html" th1:href="@{/admin/movieDelete(id=${movie.id})}">Delete</a>
				</td>
				
	  </tr>
    </tbody>
  </table>

<br/>
<br/>
<br/>

 <form   th:object="${student}" method="post">
			<div class="col-sm-12">
				<label>First name</label>
				<input placeholder="Teacher First Name" name="userName"/>
			</div>
			<div class="col-sm-12">
				<label>Last name</label>
				<input placeholder="Teacher Last Name" name="group"/>
			</div>
			
			<button type="submit" class = "btn btn-primary">ADD Teacher</button>
</form>

</body>
